<?xml version="1.0" encoding="UTF-8"?>
<gui name="gitklient"
     version="1"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd">
<MenuBar>
  <Menu name="view">
    <Action name="view_hidden_chars"/>
    <Action name="view_same_size_blocks"/>
    <Action name="view_files_info"/>
  </Menu>
  <Menu name="settings">
    <Action name="show_tree_dock"/>
  </Menu>
</MenuBar>

<ToolBar name="mainToolBar" noMerge="1">
    <text>Main Toolbar</text>
    <Action name="view_hidden_chars"/>
    <Action name="view_same_size_blocks"/>
    <Action name="view_files_info"/>

</ToolBar>

<ActionProperties>

</ActionProperties>
</gui>
