<?xml version="1.0" encoding="UTF-8"?>
<gui name="gitklient"
version="1"
xmlns="http://www.kde.org/standards/kxmlgui/1.0"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd">

    <MenuBar>
        <Menu name="view">
            <Action name="view_files"/>
            <Action name="view_blocks"/>
        </Menu>
        <Menu name="diff">
            <text>Diff</text>
            <Action name="keep_mine"/>
            <Action name="keep_their"/>
            <Separator/>
            <Action name="keep_mine_before_their"/>
            <Action name="keep_their_before_mine"/>
            <Separator/>
            <Action name="keep_my_file"/>
            <Action name="keep_their_file"/>
            <Separator/>
            <Action name="goto_next_diff"/>
            <Action name="goto_prev_diff"/>
        </Menu>
    </MenuBar>

    <ToolBar name="mainToolBar" noMerge="1">
        <text>Main Toolbar</text>

        <Action name="file_open"/>
        <Action name="file_save"/>
        <Separator/>
        <Action name="keep_mine"/>
        <Action name="keep_their"/>
        <Separator/>
        <Action name="keep_mine_before_their"/>
        <Action name="keep_their_before_mine"/>
        <Separator/>
        <Action name="keep_my_file"/>
        <Action name="keep_their_file"/>
        <Separator/>
        <Action name="goto_next_diff"/>
        <Action name="goto_prev_diff"/>
    </ToolBar>

    <ActionProperties>
        <Action name="diff" text="Diff" />
        <Action icon="diff-keep-mine" name="keep_mine" />
        <Action icon="diff-keep-their" name="keep_their" />
    </ActionProperties>
</gui>
