<?xml version="1.0" encoding="UTF-8"?>
<gui name="gitklient"
     version="1"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd">
<MenuBar>
  <Menu name="file">
    <text>Repo</text>
    <Action name="repo_init"/>
    <Action name="repo_open"/>
    <Action name="repo_clone"/>
    <Action name="recent" />
  </Menu>
  <Menu name="view">
    <Action name="view_overview"/>
    <Action name="view_branches"/>
    <Action name="view_commits"/>
    <Action name="view_stashes"/>
    <Action name="view_submodules"/>
    <Action name="view_remotes"/>
    <Action name="view_tags"/>
  </Menu>
  <Menu name="repo">
    <text>Repo</text>
    <Action name="repo_fetch"/>
    <Action name="repo_pull"/>
    <Action name="repo_push"/>
    <Action name="repo_merge"/>
    <Separator/>
    <Action name="repo_switch"/>
    <Separator/>
    <Action name="diff_branches"/>
    <Action name="repo_search"/>
    <Separator/>
    <Action name="repo_status"/>
    <Action name="repo_diff_tree"/>
    <Action name="repo_settings"/>
  </Menu>
</MenuBar>

<ToolBar name="mainToolBar" noMerge="1">
    <text>Main Toolbar</text>
    <Action name="open_repo"/>
    <Separator/>
    <Action name="repo_status"/>
    <Action name="repo_settings"/>
    <Separator/>
    <Action name="repo_fetch"/>
    <Action name="repo_pull"/>
    <Action name="repo_push"/>

</ToolBar>

<ActionProperties>
</ActionProperties>
</gui>
