[Desktop Entry]
Name=Git Klient Merge
Exec=gitklient merge
Icon=gitklient
Type=Application
X-DocPath=gitklient/index.html
GenericName=Git client gui for KDE
Categories=Development
